.container{
    margin-top: 20px;  
}


.margine{
    margin-top: 15px;
    margin-bottom: 15px;
}

.menu{
    width: 100%; 
}

#navgenerale{
    width: 100%;
    padding: 0px;
}

p{
    margin: 3px;
    border: 1px solid black;
    font-size: 13px;
}

@media (max-width: 992px) {
    #navgenerale{
        padding-left: 15px;
    }
    
    #btnnav{
        width: 150px;
        margin-left: -15px;
        margin-top: 15px;
    }
}

.bordo{
    border: 1px solid black;
}

.centra{
    display: flex;
    align-items: center;
}

#btnmoneta{
    margin-bottom: 15px;
}




